<!DOCTYPE html>
<html>

<body background="{{ url_for('static', filename='img_girl11.jpg') }}">

<h1>Welcome to YouVersity!</h1>
<h1>Save Time Watching Videos with EasyA+!</h1>
<p>Want to learn about a topic but don't have time? Try our topic segementation tool for free!</p>
<a href="#about">Find Out More</a>
<h1>We've got what you need!</h1>
<p>Paste the URL to the video in the below box</p>

<form action="" method="get">
    Webpage URL: <input type="text" size="50" name="url_of_webpage">
    <input type="submit" value="Get topics">
</form>

</body>
</html>